/* == General style === */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    height: 45px;
    border: none;
    border-radius: 5px;
    background-color: #ffa500;
}

html,
body {
    height: 100%;
    line-height: 1.5;
    font-family: "Trebuchet MS", serif;
    font-weight: 300;
    color: black;
}

td {
    padding-left: 30px;
    font-size: xx-large;
    height: 50px;
    vertical-align: top;
    /*text-align: left;*/
}

.main-wrapper {
    margin-top: 10%;
    font-size: 500%;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: 300;
}

h2,
h3 {
    font-weight: 300;
}

header {
    background-color: beige;
    padding: 10px;
}

main {
    padding: 10px;
    padding-bottom: 60px;
    /* Height of the footer */
}

ul {
    margin-left: 15px;
}

ul li {
    list-style: circle;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    /* Height of the footer */
    background: green;
}
